* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* padding uniforme */
    gap: 20px;
    /* espaço entre seções */
}

/* === TOPO - KPIs === */
.kpi-container {
    display: flex;
    flex: 5;
    gap: 10px;
}

.kpi-card {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Alinhar conteúdo verticalmente empilhado */
    display: flex;
    flex-direction: column;
    /* Muda para coluna */
    align-items: center;
    /* Centraliza horizontalmente */
    justify-content: center;
    /* Centraliza verticalmente */

    font-weight: bold;
    padding: 16px;
    /* Um pouco de espaçamento interno */
}

/* Espaçamento entre label e valor */
.kpi-label {
    font-size: 18px;
    color: #666;

    margin-bottom: 6px;
    /* Espaço abaixo do label */
}

.kpi-value {
    font-size: 20px;
    color: #333;
}

/* === WRAPPER DO TOPO COM KPIs + FILTRO === */
.kpi-wrapper {
    display: flex;
    gap: 10px;
    height: 100px;
}

/* Filtro de ano */
.filter-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-container label {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

#year-filter {
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.datalabel-toggle-btn {
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.datalabel-toggle-btn:hover {
    background-color: #135ba1;
}

/* === CONTEÚDO PRINCIPAL === */
.main-content {
    flex: 1;
    display: flex;
    gap: 20px;
}

/* === COLUNA ESQUERDA === */
.left-column {
    flex: 3;
    /* proporcional à direita (60%) */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.temporal-chart {
    flex: 1;
    background-color: #e0f7fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.temporal-chart canvas {
    width: 100% !important;
    height: 350px !important;
}

.chart-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2px;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* === COLUNA DIREITA === */
.right-column {
    flex: 2;
    /* proporcional à esquerda (40%) */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ranking-chart {
    flex: 1;
    background-color: #fce4ec;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}